@font-face {
  font-family: 'Brandon Black';
  src: url('../fonts/brandon_blk-webfont.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Light';
  src: url('../fonts/brandon_light-webfont.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
strong {
  font-family: 'Brandon Black', sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
}
.page-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
html {
  font-family: 'Brandon Light', sans-serif;
  font-size: 18px;
  line-height: 24px;
}
img {
  display: block;
}
.container {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
}
@media (max-width: 1180px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 100px;
  }
}
@media (max-width: 415px) {
  .container {
    padding: 0 30px;
  }
}
a {
  color: #000;
  text-decoration: underline;
}
p {
  margin: 0;
}
p + p {
  margin-top: 24px;
}
.main-columns-wrapper {
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: 280px 280px 380px;
  grid-column-gap: 120px;
}
@media (max-width: 1180px) {
  .main-columns-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;
  }
}
@media (max-width: 768px) {
  .main-columns-wrapper .content-column + .content-column {
    margin-top: 80px;
  }
}
.main-columns-wrapper .content-column .content-column-header {
  margin-bottom: 34px;
  font-size: 36px;
  line-height: 48px;
}
.main-columns-wrapper .content-column .content-column-header strong {
  display: block;
  font-size: 72px;
  line-height: 70px;
}
@media (max-width: 768px) {
  .main-columns-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 415px) {
  .main-columns-wrapper {
    margin-bottom: 30px;
  }
}
.main-header {
  padding: 85px 0 81px;
}
.offers-list {
  padding-left: 0;
}
.offers-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.offers-list li:before {
  content: '';
  display: inline-block;
  min-width: 30px;
  height: 27px;
  margin: 0 15px auto 0;
  background: url('../img/icon-tick.svg') no-repeat center;
  background-size: 100%;
}
.offers-list li + li {
  margin-top: 24px;
}
.download-wrapper {
  margin-top: 48px;
}
.ceo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0 0;
  padding: 0;
}
.ceo-wrapper figcaption {
  margin: auto auto auto 25px;
}
.ceo-wrapper figcaption span {
  display: block;
}
.ceo-wrapper figcaption span + span {
  margin-top: 10px;
}
.ceo-wrapper figcaption .name {
  display: block;
  font-size: 24px;
}
.ceo-wrapper figcaption .description {
  color: #959595;
}
.contact-details {
  margin-top: 34px;
  padding-left: 0;
}
.contact-details li {
  list-style: none;
  font-size: 24px;
  line-height: 48px;
}
.contact-details li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none;
  font-family: 'Brandon Black', sans-serif;
}
.contact-details li a img {
  margin: auto 13px auto 0;
}
.main-footer {
  margin: auto 0 0;
  height: 140px;
  background: #f3f3f3;
}
@media (max-width: 768px) {
  .main-footer {
    height: auto;
    padding: 50px 80px;
  }
}
@media (max-width: 415px) {
  .main-footer {
    padding: 30px;
  }
}
.main-footer .container {
  padding: 0;
}
.main-footer .logos-wrapper {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 40px;
  padding: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 768px) {
  .main-footer .logos-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    margin: 0;
  }
}
@media (max-width: 415px) {
  .main-footer .logos-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main-footer .logos-wrapper li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: auto 0 auto 80px;
}
.main-footer .logos-wrapper li img {
  -webkit-transition: opacity 0.2s ease-out, -webkit-filter 0.2s ease-out;
  transition: opacity 0.2s ease-out, -webkit-filter 0.2s ease-out;
  transition: opacity 0.2s ease-out, filter 0.2s ease-out;
  transition: opacity 0.2s ease-out, filter 0.2s ease-out, -webkit-filter 0.2s ease-out;
}
.main-footer .logos-wrapper li a {
  margin: auto;
}
.main-footer .logos-wrapper li a:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.7;
}
.main-footer .logos-wrapper li:first-of-type {
  margin-left: 0;
}
@media (max-width: 768px) {
  .main-footer .logos-wrapper li:first-of-type {
    min-width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .main-footer .logos-wrapper li:nth-child(n+2) {
    padding: 30px 0;
    margin: auto;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media (max-width: 415px) {
  .main-footer .logos-wrapper li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .main-footer .logos-wrapper li p {
    width: 100%;
  }
}
@media (min-width: 769px) {
  .main-footer .breaker {
    display: block;
  }
}
